<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>Hello {{ name }} </h1>

    <div>
        <img src="{{ mypic }}" alt="">
    </div>

    <h3>Logout <a href="/logout">HERE</a></h3>

</body>
</html>